#register{
    min-width:1260px;
    font-size: 12px;
}
/*注册页头部*/
#register-header{
    width:1200px;
    margin:0 auto;
    padding:20px;
    position: relative;
}
#register-header a{
    display:inline-block;
    width:220px;
    height:54px;
    background:url('../img/login/logo_408x104.png');
    background-size: 100%;
}
#register-header span.tips{
    display: inline-block;
    width:861px;
    height:28px;
    line-height: 28px;
    text-align:center;
    font-size:11px;
    color: #666;
    background-color: #ffefef;
    border:1px solid #ffc0cc;
    margin-left:20px;
    position: absolute;
    top:35px;
}
/*注册页主体*/
#M-PC-register-content{
    height:600px;
    background: url('../img/login/login_bg.png') no-repeat center center;
}
/*注册框*/
#M-PC-register-content .reg-left{
    float:right;
    position:relative;
    width:400px;
    margin:80px 130px 0 0;
    padding: 0 0 30px 44px;
    background: #ffeceb;
    opacity:.9;
}
#M-PC-register-content div.reg-title{
    margin:10px 0 10px -38px;
    font-size: 14px;
    font-weight:700;
    color: #333;
    padding: 7px 40px;
    height: 42px;
    border-bottom: 1px solid #ccc;
}
/*错误提示信息*/
#M-PC-register-content .form-info{
    height: 30px;
    background: url('../img/login/tips_16x16.png') 12px no-repeat #fffff8;
    margin:0 47px 10px 0;
    border: 1px solid #ffd797;
    line-height: 30px;
    color: #ff1877;
    padding-left:40px;
}
/*输入框*/
#M-PC-register-content .tel-register input{
    width: 310px;
    height:40px;
    margin-bottom:15px;
    background-color: #ffeceb;
    border: 1px solid #ccc;
    padding:0 6px;
    outline:none;
}
#M-PC-register-content .tel-register input.tel-pwd{
    width: 190px;
}
#M-PC-register-content .form-register>button,#M-PC-register-content .tel-register button.get-pwd{
    background-color: #ff5777;
    color: #fff;
    width: 312px;
    height: 40px;
}
#M-PC-register-content .tel-register button.get-pwd{
    width:110px;
    margin-right:5px;
}
#M-PC-register-content .form-register-other{
    margin:20px 0;
}
#M-PC-register-content .form-register-other a{
    margin-right:47px;
    color: #333;
    text-decoration: underline;
}
#M-PC-register-content .form-other{
    padding-right:40px;
    float:right;
}
#M-PC-register-content .form-other a.had-account-login{
    margin-right:20px;
    color:#666;
    text-decoration: underline;
}